
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Seoge UI';
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: url(/images/BROUCHUREPRESENTACIÓN-1.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    */
}

header {
    background: #0b1c2c;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

nav button {
    background: transparent;
    border: none;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    font-size: 15px;
}

.hero {
    background-image: url(/images/BROUCHUREPRESENTACIÓN-1\ -\ copia.jpg);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h2 {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(202, 35, 13);
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
}

#contenido {
    color: white;
    font-size: 20px;
    padding: 40px;
    background: rgba(2, 35, 15, 0.795);
    margin: -50px auto 20px;
    width: 90%;
    max-width: 1200px;
    border-radius:  10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #0b1c2c;
    color: white;
    text-align: center;
    padding: 15px;
}